
body {
	display: flex;
	flex-direction:column;
	min-height: 100vh;
	margin: 0;
	padding: 0;

}
header{
	background-color: green;
	height:70px;
}
main {
	height: 81vh;
	background-color: yellow;
	
}
footer{

	background-color: red;
	height:50px;

}
